.env
.env*
.env.*
node_modules
package-lock.json
npm-shrinkwrap.json
yarn.lock
pnpm-lock.yaml
bun.lockb
.pnpm
*.log
*.log.*
*.log-*
*.log/*
logs
logs/*
log/*
log
*.ics
*.xlsx
.aider*
service-account.json
*.md
*.csv
*.txt
.git
resume.md
fire.json
crawl-results-*.json